html {
    width: 100%;
    height: 100%;
  }
  
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; 

}

#grad {
    background-image: linear-gradient(rgb(119, 4, 4), rgb(228, 228, 62));
  }

header .landing-page-header {}